@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');

body {
    font-family: Arial;
    background: #eaf4ff;
}

.container {
    width: 320px;
    margin: 40px auto;
    padding: 20px;
    background: #f4faff;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2, h3 {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1971c2;
}

input {
    width: 80%;
    display: block;
    margin: 8px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #74c0fc;
    text-align: center;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.botones button {
    width: 80%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: #339af0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.botones button:hover {
    background: #1c7ed6;
}

#resultado {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

/* Estilos por tipo */
.exito {
    background: #d0ebff;
    color: #1864ab;
}

.error {
    background: #ffc9c9;
    color: #c92a2a;
}

.advertencia {
    background: #fff3bf;
    color: #e67700;
}

ul {
    text-align: left;
    padding: 0;
}

li {
    background: #ffffff;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}
